/* Styles for recipes */

h1 {
    color: cyan;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: purple;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

p, li {
    color: red;
    background-color: lime;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}